@font-face {
    font-family: 'wizard-world'; /*a name to be used later*/
    src: url('images/wizard-world-font/WizardWorldSimplified-Kxr7.ttf'); /*URL to font*/
}

body{
    background-image: url(images/Wallpaper.jpg);
    padding: 20px;
    margin:0 auto;
    min-width: 100%;
    min-height: 100%;
    
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: wizard-world;
    padding: 30px;
    
   
    
}
p {
    grid-column: .125 fr;
    width: 50%;
    padding: 10px;
    font-family: wizard-world;
    background-color: rgb(249, 241, 211);
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    
  }
.main-container{
    display: flex;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    align-items: center;
    justify-items: center;
    max-width: 1000px;
    max-height: 600px;
    margin: auto;

    

}
.conditional{
    display: flex;
    justify-content: center;

}
img {
   width: 250px;
   height: auto;

   
 
}
.Teddy{
    width: 300px;
    height: auto;

}

.progress{
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 200px;
    font-family: wizard-world;
    font-size: 30px;
    font-weight: bolder;
    background: transparent;
    text-shadow: 0.05em 0 black;
;
       
        
       
}
.health-button{
    justify-items: space-evently;
    padding: 10px;
}

.setting-button{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    
}

progress{
   accent-color: goldenrod;
   

}

 .startBNT{
    float: left;
    padding: 10px;
}
.resetBNT{
    float: right;
    padding: 10px;
}



.btn-warning, .btn-primary:hover{
    background-color: goldenrod;
    border: black;
    font-family: wizard-world;
    color: black;
    
}

 